.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 50px;
  background-color: white;
  width: 100%;
}

.filters input,
.filters select {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border: none;
  background-color: white;
  border-radius: 5px;
  min-width: 200px;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-icon img{
  background: #f9f9f9;
  width: 15px;
  height: 15px;
}


